html,
body {
  width: 100%;
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: #020721;
  // overflow: hidden;
}

p {
  font-size: 14px;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.route__loader div {
  position: fixed;
  height: 2em !important;
  width: 2em !important;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.ReactModal__Overlay {
  z-index: 3;
}

.ReactModal__Content {
  z-index: 3;
  top: 100px !important;
  left: 100px !important;
  right: 100px !important;
  bottom: 100px !important;
}

button:focus {
  outline: none;
}
