html,
body {
  width: 100%;
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: #020721;
  // overflow: hidden;
}

p {
  font-size: 14px;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.route__loader div {
  position: fixed;
  height: 2em !important;
  width: 2em !important;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: #f2f4f8;
}

::-webkit-scrollbar-thumb {
  background: #c7c4c4de;
  -webkit-border-radius: 2px;
}

::-webkit-scrollbar-corner {
  background: #f2f4f8;
}
