@import "./breakpoint";
@import "./global-scss/pagination";
@import "./global-scss/react-checkbox-tree";
@import "./global-scss/card";
@import "./global-scss/rc-steps";
@import "./global-scss/markdown-body";
@import "./global-scss/upload-accordion";
@import "./global-scss/comment-box";
@import "./global-scss/modal";

html,
body {
  width: 100%;
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: #020721;
  // overflow: hidden;
}

p {
  font-size: 14px;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-container {
  margin: 30px 80px;
  @include breakpoint(xl) {
    margin: 30px 160px;
  }
  @include breakpoint(xs) {
    margin: 20px 10px;
  }
}

.component__loader-container {
  flex-grow: 1;
  background: #fdfafa;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.route__loader div {
  position: fixed;
  height: 2em !important;
  width: 2em !important;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.ReactModal__Overlay {
  z-index: 3;
}

.ReactModal__Content {
  z-index: 3;
  top: 150px !important;
  bottom: 150px !important;
  width: 500px;
  margin: 0 auto;
}

button:focus {
  outline: none;
}

a {
  background: 0 0;
  color: inherit;
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-decoration: none;
  vertical-align: baseline;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.text-consensys {
  color: #2a48d4;
}

.bg-consensys {
  background: #2a48d4;
}
