.table-of-content__item {
  padding: 0px 5px;
}

.table-of-content__divider-title {
  font-size: 18px;
  padding-bottom: 8px;
  border-bottom: 1px solid;
  margin-bottom: 20px;
}

.table-of-content__section-title {
  font-size: 16px;
  margin-bottom: 15px;
}

.table-of-content__item:hover {
  color: #80bbff !important;
}
