@import "../../../../../../breakpoint";

.comment-issue-item {
  background: transparent;
  border-bottom: 1px solid #ccc;
  padding: 20px;
  @include breakpoint(xs) {
    padding: 10px;
  }

  .comment-item__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include breakpoint(xs) {
      flex-direction: column;
      margin-bottom: 7px;
      p {
        font-size: 12px;
        margin-bottom: 2px;
      }
    }
  }

  .comment-item__quote {
    border-left: 3px solid #0057ff;
    color: inherit;
    padding-left: 10px;
    @include breakpoint(xs) {
      font-size: 12px;
    }
  }

  .comment-item__comment {
    color: inherit;
    @include breakpoint(xs) {
      font-size: 12px;
    }
  }

  .active .comment-item__quote {
    border-left: 3px solid #0057ff;
  }

  .comment-item__verified-message {
    font-size: 12px;
    line-height: 30px;
  }

  .comment-item__tags .badge,
  .comment-item__tags button {
    margin-right: 5px;
    margin-bottom: 5px;
    line-height: 1.25;
  }

  .comment-item__tags .badge.issue {
    cursor: pointer;
  }

  .comment-item__tags .badge .fas {
    font-size: 9px;
    margin-left: 3px;
  }

  .comment-item__tags {
    margin-bottom: 1rem;
  }
}
