@import "../../../../../../breakpoint";

.annotation-sidebar__logo-consensys {
  margin: 24px auto 20px;
  width: 100px;
}

.annotation-sidebar__tab-container {
  z-index: 1;
  position: relative;
  left: 1px;
  display: flex;
  height: 46px;
  top: 5px;
  background: white;
}

.annotation-sidebar__tab {
  flex: 1;
  background: white;
  border: none;
  cursor: pointer;
}

.annotation-sidebar__tab.active {
  box-shadow: #007bff 0px -4px 0px 0px inset;
}

.annotation-sidebar__menu {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 0px 5px;
  margin: 10px 0px;
}

.annotation-sidebar__menu .btn-group span {
  line-height: 2;
  margin-right: 5px;
  color: white;
  font-size: 14px;
}

.annotation-sidebar__menu .btn-group .btn {
  border-radius: 0 !important;
}

.annotation-sidebar__menu .btn-group .btn.active {
  background: inherit;
  color: white;
  border-color: white;
}

.annotations-header__count {
  color: white;
  line-height: 2;
}

.annotations-header__count.reset-selection {
  cursor: pointer;
}

.annotation-tags__filter-container {
  padding: 0px 5px;
  margin-bottom: 30px;
}

.annotation-tags__filter .Select-control {
  border-radius: 0px;
}
