@import "../../../../../../breakpoint";

.annotator-notice.annotator-notice-show.annotator-notice-error {
  border-bottom: 4px solid #ec7063;
}

// remove annotatorjs tooltip on hober
.annotator-annotation.annotator-item {
  display: none;
}

.annotator-listing:after {
  display: none;
}

.annotator-listing {
  border: none;
}

.annotator-filter,
.annotator-filter .annotator-filter-navigation button,
.annotator-editor .annotator-controls {
  width: 100%;
}

.annotator-widget .annotator-listing,
.annotator-widget .annotator-controls,
.annotator-widget .annotator-controls a {
  background-image: none;
  text-shadow: none;
  box-shadow: none;
  border-radius: none;
}

// hide annotatorjs highlights
.annotator-hl.hidden {
  background: transparent;
}

// sidebar
.annotation-sidebar {
  margin: 0;
  padding: 0;
  border: 0;
  direction: ltr;
  line-height: 20px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 2;
  max-width: 410px;
  background: #09263a;
  color: #9ca6af;
  transition: all 0.2s ease-in-out;
  @include breakpoint(xs) {
    max-width: 350px;
  }
}

.annotation-contents {
  width: 100%;
  height: 100%;
  padding: 20px 30px;
  @include breakpoint(xs) {
    padding: 20px;
  }
}

.annotation-toolbar {
  z-index: 2;
  position: absolute;
  left: -40.5px;
  top: 74px;
  width: 40px;
}

.annotation-toolbar button {
  width: 50px;
  height: 50px;
  border: 2px solid #09263a;
  margin-bottom: -2px;
  border: 2;
  background: white;
  color: #09263a;
}

// change highlight color of selected annotation
.annotator-hl.annotation-selected {
  background: rgba(10, 142, 255, 0.3);
}
