.annotator-notice.annotator-notice-show.annotator-notice-error {
  border-bottom: 4px solid #EC7063;
}

// remove annotatorjs tooltip on hober
.annotator-annotation.annotator-item {
  display: none;
}

.annotator-listing:after {
  display: none;
}

.annotator-listing {
  border: none;
}

.annotator-filter,
.annotator-filter .annotator-filter-navigation button,
.annotator-editor .annotator-controls {
  width: 100%;
}

.annotator-widget .annotator-listing,
.annotator-widget .annotator-controls,
.annotator-widget .annotator-controls a {
  background-image: none;
  text-shadow: none;
  box-shadow: none;
  border-radius: none;
}

// hide annotatorjs highlights
.annotator-hl.hidden {
  background: transparent;
}

// sidebar
.annotation-sidebar {
  margin: 0;
  padding: 0;
  border: 0;
  direction: ltr;
  line-height: 20px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 2;
  max-width: 410px;
  background: #09263a;
  color: #9ca6af;
  transition: all 0.2s ease-in-out;
}

.annotation-sidebar__logo-consensys {
  margin: 50px auto 20px;
  width: 100px;
}

.annotation-sidebar__logo-tbp {
  width: 120px;
  margin: 0 auto 40px;
}

.annotations-header {
  color: white;
  padding: 0px 15px;
  padding-top: 10px;
  width: 410px;
}

.annotations-header.reset-selection {
  cursor: pointer;
}

.annotation-contents {
  width: 100%;
  height: 100%;
  padding: 20px 40px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.annotation-contents::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: #F2F4F8;
}

.annotation-contents::-webkit-scrollbar-thumb {
  background: #9e9e9e;
  -webkit-border-radius: 2px;
}

.annotation-contents::-webkit-scrollbar-corner {
  background: #F2F4F8;
}

.annotation-toolbar {
  position: absolute;
  left: -40.5px;
  top: 0;
  width: 40px;
}

.annotation-toolbar button {
  width: 50px;
  height: 50px;
  border: 2px solid #09263a;
  margin-bottom: -2px;
  border: 2;
  background: white;
  color: #09263a;
}

.annotation-item {
  background: #0d3048;
  padding: 5px 15px 15px;
  margin-bottom: 30px;
}

.annotation-item__header {
  display: flex;
  justify-content: space-between;
}

.annotation-item__text {
  border-left: 3px solid white;
  color: white;
  padding-left: 10px;
}

.active .annotation-item__text {
  border-left: 3px solid #0057ff;
}

.annotation-item__action--bottom {
  display: flex;
  justify-content: flex-end;
}

.annotation-item__action--bottom .fas {
  margin: 5px;
  cursor: pointer;
}

.annotation-item__action--bottom .upvoted {
  color: white;
}

.annotation-item__reply-thread {
  display: flex;
}

.annotation-item__reply-contents {
  width: 100%;
}

.annotation-item__reply-edge {
  display: flex;
  flex-direction: column;
}

.annotation-item__reply-edge .fa-caret-down {
  height: 24px;
  margin: 0 8px;
}

.annotation-item__thread-line {
  border-right: 1px dashed #dbdbdb;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  position: relative;
  right: 12px;
}
