.annotation-sidebar {
  margin: 0;
  padding: 0;
  border: 0;
  direction: ltr;
  line-height: 20px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 2;
  max-width: 410px;
  margin-left: -410px;
  background: #09263a;
  color: #9ca6af;
}

.annotation-contents {
  width: 100%;
  height: 100%;
  padding: 0 40px;
  overflow-y: scroll;
}

.annotation-contents::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: #09263a;
}

.annotation-contents::-webkit-scrollbar-thumb {
  background: #9e9e9e;
  -webkit-border-radius: 2px;
}

.annotation-contents::-webkit-scrollbar-corner {
  background: #09263a;
}


.annotation-toolbar {
  position: absolute;
  left: -37.5px;
  width: 40px;
}

.annotation-toolbar button {
  width: 50px;
  height: 50px;
  border: 2px solid #09263a;
  margin-bottom: -2px;
  border: 2;
  background: white;
  color: #09263a;
}

.annotation-item {
  background: #0d3048;
  padding: 5px 15px;
  margin-bottom: 30px;
}

.annotation-item__header {
  display: flex;
  justify-content: space-between;
}

.annotation-item__text {
  border-left: 3px solid #0057ff;
  color: white;
  padding-left: 10px;
}

.annotation-item__action--bottom {
  display: flex;
  justify-content: flex-end;
}

.annotation-item__action--bottom .fas {
  margin: 5px;
}
