.project-survey__upload-diff ins {
  text-decoration: none;
  background: #d0f5d0;
}

.project-survey__upload-diff del {
  background: #ffc4c4;
}

.project-survey__upload-diff {
  padding: 40px;
  border: 1px solid #f2f2f2;
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  background: #f2f2f2;
}
