.mde-preview-content .qna__question h3,
.qna__question h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: left;
  line-height: 1.58;
  border-bottom: none !important;
}

.qna__question h2 {
  text-decoration: underline;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: left;
  line-height: 1.58;
}

.qna__question--editing {
  border: 16px solid #eee;
}

.qna__answer p {
  font-size: 18px;
  line-height: 1.58;
}

.qna__answer ul {
  list-style-type: inherit;
  padding-left: 40px;
}

.qna__answer li {
  list-style-type: inherit;
  font-size: 18px;
  line-height: 1.58;
  position: relative;
  padding: 0.5rem;
}

.qna__answer li:last-child {
  border-bottom: 0;
}

.editing-toolbar__hover-target {
  position: relative;
  padding-left: 50px;
  margin-left: -50px;

  &:hover &ed {
    display: block;
    opacity: 1;
  }

  &ed {
    display: none;
    position: absolute;
    top: -3px;
    left: -10px;
    opacity: 0;
  }
}

.markmirror__toolbar.myapp__toolbar .dropdown-item.active {
  font-weight: 800;
  background-color: white;
}

.markmirror__toolbar.myapp__toolbar .dropdown {
  display: inline-block;
  float: right;
}
