@import "../../../../breakpoint";

.annotator-notice.annotator-notice-show.annotator-notice-error {
  border-bottom: 4px solid #ec7063;
}

// remove annotatorjs tooltip on hover
.annotator-annotation.annotator-item,
.annotator-outer.annotator-viewer {
  display: none;
}


.annotator-listing:after {
  display: none;
}

.annotator-listing {
  border: none;
}

.annotator-filter,
.annotator-filter .annotator-filter-navigation button,
.annotator-editor .annotator-controls {
  width: 100%;
}

.annotator-widget .annotator-listing,
.annotator-widget .annotator-controls,
.annotator-widget .annotator-controls a {
  background-image: none !important;
  text-shadow: none !important;
  box-shadow: none !important;
  border-radius: none !important;
}

// hide annotatorjs highlights
.annotator-hl.hidden {
  background: transparent;
}

// change highlight color of selected annotation
.annotator-hl.annotation-selected {
  background: rgba(10, 142, 255, 0.3);
}

// jquery ui autocomplete for tag
.ui-widget.ui-widget-content {
  z-index: 100020;
  height: 160px;
  width: 285px;
  overflow-y: auto;
  overflow-x: hidden;
}

.annotator-adder,
.annotator-outer,
.annotator-notice {
  z-index: 100019;
}

.annotator-filter {
  z-index: 100010;
}

.annotator-save:hover,
.annotator-cancel:hover {
  background-image: none !important;
}
