@import "../../../../breakpoint";

.project-survey {
  max-width: 740px;
  padding: 20px 0px 6rem;
}

.project-survey__back-btn {
  cursor: pointer;
  width: 150px;
}

.project-survey__header .survey-name__box {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.58;
  text-transform: capitalize;
  @include breakpoint(xs) {
    font-size: 36px;
    line-height: 40px;
  }
}

.project-survey__header .survey-creator-name__box {
  font-size: 1.2rem;
  color: #838383;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 60px;
}
