@import "../../../../../../breakpoint";

.comment-item {
  background: #113954;
  padding: 20px;
  margin-bottom: 30px;
  @include breakpoint(xs) {
    padding: 10px;
  }
}

.comment-item__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include breakpoint(xs) {
    flex-direction: column;
    margin-bottom: 7px;
    p {
      font-size: 12px;
      margin-bottom: 2px;
    }
  }
}

.comment-item__quote {
  border-left: 3px solid white;
  color: white;
  padding-left: 10px;
  @include breakpoint(xs) {
    font-size: 12px;
  }
}

.comment-item__comment {
  color: white;
  @include breakpoint(xs) {
    font-size: 12px;
  }
}

.comment-item__edit .comment-item__quote {
  border-left: 3px solid #0057ff;
  color: black;
  padding-left: 10px;
}

.active .comment-item__quote {
  border-left: 3px solid #0057ff;
}

.comment-item__action--bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.comment-item__action--bottom .btn {
  border-radius: 0;
}

.comment-item__action--bottom .fas {
  padding: 5px;
  cursor: pointer;
}

.comment-item__action--bottom .upvoted {
  color: white;
}

.comment-item__verified-message {
  font-size: 12px;
  line-height: 30px;
}

.comment-item__reply-thread {
  display: flex;
}

.comment-item__reply-contents {
  width: 100%;
}

.comment-item__reply-edge {
  display: flex;
  flex-direction: column;
}

.comment-item__reply-edge .fa-caret-down {
  height: 24px;
  margin: 0 8px;
}

.comment-item__thread-line {
  border-right: 1px dashed #dbdbdb;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  position: relative;
  right: 12px;
}

.comment-item__edit {
  width: 400px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
}

.comment-item__edit .Select {
  flex: 1;
}

.comment-item__edit label {
  line-height: 2;
  margin-right: 5px;
}

.comment-item__tags .badge,
.comment-item__tags button {
  margin-right: 5px;
  margin-bottom: 5px;
  line-height: 1.25;
}

.comment-item__tags .badge.issue {
  cursor: pointer;
}

.comment-item__tags .badge .fas {
  font-size: 9px;
  margin-left: 3px;
}

.comment-item__tags {
  margin-bottom: 1rem;
}

.comment-item__reply-item {
  margin-top: 20px;
}

.comment-item__reply-item {
  border-bottom: 1px solid;
}

.comment-item__reply-item.last-item {
  border-bottom: 0px;
}

.comment-item__at-someone {
  background: #245271;
  padding: 5px;
  color: white;
  border-radius: 3px;
}

.comment-item__collapse-btn {
  padding-bottom: 1.3rem;
  border-bottom: 1px solid;
}

.comment-item__issue-resolved {
  font-size: 12px;
}
