@import "../../breakpoint";

.profile-subroute {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px 15px;
}

.profile-subroute__empty {
  width: 230px;
  margin: 100px auto;
}

.profile-engagement-items__container {
  display: flex;
  @include breakpoint(xs) {
    flex-direction: column;
  }
}
