.project-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.survey-custom {
  margin: 15px auto;
  border: none;
  border-radius: 10px;
  transition: all .15s ease-out;
  box-shadow: 0 5px 20px -5px rgba(50, 50, 93, .12), 0 3px 4px -2px rgba(0, 0, 0, .08);
  text-decoration: none !important;
  background-color: #fff;
}

.survey-custom:hover {
  box-shadow: 0 30px 75px -15px rgba(50, 50, 93, .3), 0 25px 40px -20px rgba(0, 0, 0, .1);
}

.survey-custom * {
  color: rgba(0, 0, 0, .7);
  letter-spacing: 0.08rem;
  color: #555
}

.survey__block {
  padding: 20px 15px 20px 35px;
}

.survey__action--upper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.survey__action--bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.survey__more {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #D2D5EA;
  cursor: pointer;
  margin-top: 15px;
}

.survey__more .fa-long-arrow-alt-right {
  margin-left: 5px;
  color: #D2D5EA;
}

.survey__action--upper .fa-star {
  color: #D2D5EA;
  font-size: 13px
}

.survey__action--upper .fa-star:hover {
  color: #3f82f4;
}

.survey__header {
  display: flex;
  text-transform: uppercase;
  margin-left: -35px;
  border-left: 3px solid #3f82f4;
}

.survey__header p {
  margin-bottom: 0px;
  margin-left: 35px;
}

.survey__ticker {
  font-size: 11px;
  margin-left: 15px;
  line-height: 24px;
}

.survey__date {
  color: #D2D5EA;
  font-weight: 200;
  font-size: 12px;
  margin: 8px 0;
}

.survey__description {
  font-size: 13px;
  font-weight: 400;
  margin-top: 8px;
  margin-bottom: 20px;
}

.survey__keywords {
  font-size: 12px;
  font-weight: 300;
}
