.profile-annotation__user span {
  margin-right: 10px;
}
.profile-annotation__reply {
  margin-left: 10px;
}

.profile-annotation__parent {
  opacity: 0.6;
  color: #9a9696;
}

.profile-annotation__reply {
  padding-left: 10px;
  border-left: 3px solid #020721;
}
