.profile-banner {
  background: #f9f9f9;
}

.profile-banner__avatar-container {
  text-align: center;
  padding: 60px 20px 25px;
}

.profile-banner__name {
  margin-bottom: 14px;
}

.profile-banner__short-bio h5 {
  display: inline-block;
}

.profile-banner__short-bio,
.profile-banner__access {
  text-align: center;
  padding: 0px 35px 25px;
}

.profile-banner__short-bio p {
  color: #838383;
  font-family: "Roboto Condensed", sans-serif;
}

.profile-banner__short-bio p .divider {
  margin: 0 10px;
}

.profile-banner__access {
  text-align: center;
  padding: 0px 35px 40px;
}
