.social-sidebar__issue-input textarea {
  height: 80px;
  border-radius: 5px 5px 0 0;
}

.social-sidebar__issue-input {
  display: flex;
  flex-direction: column;
}

.issue-input__actions {
  margin: 0;
  background: #d4d4d4;
}

.issue-input__actions {
  background: #d4d4d4;
  width: 100%;
  padding: 8px;
  display: flex;
  justify-content: flex-end;
  border-radius: 0 0 5px 5px;
}

.issue-input__actions button {
  margin-left: 3px;
}

.upload-accordion__item-header {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.upload-accordion__scorecard-checkbox input {
  margin-right: 5px;
}
