@import "../breakpoint";

.reply-annotation__main {
  padding: 35px 25px;
  margin: 0px auto;
  border: none;
  text-decoration: none !important;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
}

.reply-annotation__main:hover {
  background-color: #f9f9f9;
}

.reply-annotation__survey-title {
  display: inline-block;
  padding: 0.25em 0em;
  font-weight: 700;
  vertical-align: baseline;
  border-radius: 0.25rem;
  margin-right: 5px;
  line-height: 1.25;
  font-size: 15px;
  margin-bottom: 15px;
  max-width: 100%;
  overflow-wrap: break-word;
  text-align: left;
  color: #020721;
}

.reply-annotation__quote {
  border-left: 3px solid #d4d4d4;
  color: #d4d4d4;
  padding-left: 10px;
}

.reply-annotation__review {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  margin-right: 5px;
  margin-bottom: 5px;
  line-height: 1.25;
  font-size: 15px;
  color: white;
}

.reply-annotation__review--pending {
  background: #838383;
}

.reply-annotation__review--spam {
  background: #dc3545;
}

.reply-annotation__review--verified {
  background: #007bff;
}

.reply-annotation__action--bottom {
  display: flex;
  justify-content: space-between;
}

.reply-annotation__header {
  display: flex;
  justify-content: flex-end;
}

.reply-annotation__action--bottom .see-in-context {
  cursor: pointer;
  color: #459df9;
}

.reply-annotation__user span {
  margin-right: 10px;
}
.reply-annotation__reply {
  margin-left: 10px;
}

.reply-annotation__parent {
  color: #9a9696;
}

.reply-annotation__parent .reply-annotation__user,
.reply-annotation__parent .reply-annotation__quote,
.reply-annotation__parent .reply-annotation__comment,
.reply-annotation__parent .reply-annotation__tags {
  opacity: 0.6;
}

.reply-annotation__parent-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.reply-annotation__parent-header--mobile {
  @include breakpoint(xs) {
    flex-direction: column;
  }
}

.reply-annotation__reply {
  padding-left: 10px;
  border-left: 3px solid #999;
  margin-top: 30px;
}

.reply-annotation__review {
  opacity: 1;
}

.reply-annotation__tags .badge,
.reply-annotation__tags button {
  margin-right: 5px;
  margin-bottom: 5px;
  line-height: 1.25;
  font-size: 15px;
}

.reply-annotation__tags .badge-light {
  background: #f2f2f2 !important;
}

.reply-annotation__tags .badge.issue {
  cursor: pointer;
}

.reply-annotation__tags .badge .fas {
  font-size: 9px;
  margin-left: 3px;
}

.reply-annotation__tags {
  margin-bottom: 1rem;
}
