.auth-widget {
  margin-bottom: -2px;
  cursor: pointer;
}

.auth-widget__avatar-container {
  width: 50px;
  border: 2px solid #09263a;
}

.auth-widget__dropdown {
  position: absolute;
  top: 96px;
  left: 48px;
  z-index: 3;
}

.auth-widget__dropdown-item {
  cursor: pointer;
  border-style: solid;
  border-color: #09263a;
  border-width: 2px 2px 0px 2px;
  padding-left: 10px;
  width: 150px;
  height: 48px;
  background: white;
  line-height: 46px;
  text-transform: uppercase;
  font-size: 15px;
}

.auth-widget--navbar {
  position: relative;
  cursor: pointer;
}

.auth-widget--navbar__dropdown {
  position: absolute;
  top: 60px;
  right: 0;
  z-index: 3;
}

.auth-widget--navbar__dropdown-item {
  cursor: pointer;
  border-style: solid;
  border-color: #459DF9;
  color: #459DF9;
  border-width: 2px 2px 0px 2px;
  padding-left: 10px;
  width: 150px;
  height: 48px;
  background: white;
  line-height: 46px;
  text-transform: uppercase;
  font-size: 15px;
}

.auth-widget--navbar__dropdown-item.last {
  border-width: 2px 2px 2px 2px;
}
