@import "../breakpoint";

.main-comment__header {
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.main-comment__header--mobile {
  @include breakpoint(xs) {
    flex-direction: column;
  }
}

.main-comment__document-title {
  display: inline-block;
  padding: 0.25em 0em;
  font-weight: 700;
  text-align: center;
  vertical-align: baseline;
  border-radius: 0.25rem;
  margin-right: 5px;
  line-height: 1.25;
  font-size: 15px;
  margin-bottom: 15px;
  max-width: 100%;
  overflow-wrap: break-word;
  text-align: left;
  color: #020721;
}

.main-comment__user span {
  margin-right: 10px;
}

.main-comment__header p {
  line-height: 40px;
}

.main-comment__main {
  padding: 35px 25px;
  margin: 0px auto;
  text-decoration: none !important;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
}

.main-comment__main:hover {
  background-color: #f9f9f9;
}

.main-comment__quote {
  border-left: 3px solid #d4d4d4;
  color: #d4d4d4;
  padding-left: 10px;
}

.main-comment__review {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  margin-right: 5px;
  margin-bottom: 5px;
  line-height: 1.25;
  font-size: 15px;
  color: white;
}

.main-comment__review--pending,
.main-comment__review--issue-close {
  background: #838383;
}

.main-comment__review--spam,
.main-comment__review--issue-open {
  background: #dc3545;
}

.main-comment__review--verified {
  background: #007bff;
}

.main-comment__review--verified {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  margin-right: 5px;
  margin-bottom: 5px;
  line-height: 1.25;
  font-size: 15px;
  background: #007bff;
  color: white;
}

.main-comment__action--bottom,
.main-comment__header {
  display: flex;
  justify-content: space-between;
}

.main-comment__action--bottom .see-in-context {
  cursor: pointer;
  color: #459df9;
}

.main-comment__tags .badge,
.main-comment__tags button {
  margin-right: 5px;
  margin-bottom: 5px;
  line-height: 1.25;
  font-size: 15px;
}

.main-comment__tags .badge-light {
  background: #f2f2f2 !important;
}

.main-comment__tags .badge.issue {
  cursor: pointer;
}

.main-comment__tags .badge .fas {
  font-size: 9px;
  margin-left: 3px;
}

.main-comment__tags {
  margin-bottom: 1rem;
}
