.project-author__header {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  padding: 0px 5px;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 2em;
}


.project-published-date__header {
  font-family: "Roboto Condensed", sans-serif;
  display: inline-block;
  padding: 0px 5px;
  font-size: 1.2rem;
  text-transform: uppercase;
}
