.project-name__box {
  font-family: "Roboto Condensed", sans-serif;
  background: #2a48d4;
  color: white;
  display: inline-block;
  padding: 0px 5px;
  font-size: 1.2rem;
  text-transform: uppercase;
}
