@import "../breakpoint";

.sidebar {
  margin: 0;
  padding: 0;
  border: 0;
  direction: ltr;
  line-height: 20px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 2;
  max-width: 450px;
  background: #09263a;
  color: #9ca6af;
  transition: all 0.2s ease-in-out;
  @include breakpoint(xs) {
    max-width: 350px;
  }
}

.sidebar-contents {
  width: 100%;
  height: 100%;
  padding: 0 30px 20px 30px;
  @include breakpoint(xs) {
    padding: 0 20px 20px 20px;
  }
}

.sidebar__toolbar {
  z-index: 2;
  position: absolute;
  left: -40.5px;
  top: 74px;
  width: 40px;
}

.sidebar__toolbar button {
  width: 50px;
  height: 50px;
  border: 2px solid #09263a;
  margin-bottom: -2px;
  background: white;
  color: #09263a;
  cursor: pointer;
}

.sidebar__upload-header {
  color: white;
  font-weight: 700;
  font-size: 14px;
}

.sidebar__upload-subheader {
  color: white;
  font-size: 14px;
}

.sidebar__logo-consensys {
  margin: 24px auto 20px;
  width: 100px;
}
