.ReactTable .rt-th,
.ReactTable .rt-td {
  padding: 15px !important;
}

.ReactTable .rt-thead .rt-resizable-header-content {
  text-align: left;
}

.ReactTable .rt-thead .rt-th,
.ReactTable .rt-thead .rt-td {
  padding: 15px !important;
}
