.dashboard-sidebar {
  width: 300px;
}

.dashboard-listing__title {
  font-size: 16px;
  box-shadow: #2a48d4 0px -2px 0px 0px inset;
  display: inline-block;
  padding-bottom: 20px;
  margin-bottom: 0;
  letter-spacing: 0.08rem;
  color: #555;
  text-transform: uppercase;
}

.dashboard-listing__item {
  font-size: 14px;
}

.dashboard-listing__item:hover {
  color: #4a9ff6;
}

.dashboard__recent-issues {
  width: 100%;
}

.dashboard__recent-issues-title {
  font-size: 16px;
  margin-bottom: 12px;
  letter-spacing: 0.08rem;
  color: #555;
  text-transform: uppercase;
}

.dashboard__recent-issues .entity__title span {
  text-transform: initial;
}

.dashboard__show-more {
  display: inline-block;
  padding: 15px 0 15px 0;
}

.dashboard__show-more p {
  font-size: 14px;
  color: #4a9ff6;
}

.dashboard__show-more p:hover {
  text-decoration: underline;
}
