.social-sidebar__logo-consensys {
  margin: 24px auto 20px;
  width: 100px;
}

.social-sidebar__status-tab-container {
  z-index: 1;
  position: relative;
  left: 1px;
  display: flex;
  height: 46px;
  top: 5px;
  background: white;
}

.social-sidebar__status-tab {
  flex: 1;
  background: white;
  border: none;
  cursor: pointer;
}

.social-sidebar__status-tab.active {
  box-shadow: #007bff 0px -4px 0px 0px inset;
}

.social-sidebar__engagement-tab-container {
  display: flex;
  align-items: start;
  padding: 0px 5px;
  margin: 10px 0px;
}

.social-sidebar__engagement-tab {
  color: white;
  line-height: 2.5;
  margin-right: 10px;
  cursor: pointer;
}

.social-sidebar__engagement-tab.active {
  font-weight: 800;
}

.social-sidebar__engagement-tab.reset-selection {
  cursor: pointer;
}

.social-sidebar__tag-filter-container {
  margin-bottom: 30px;
  padding: 0 5px;
  width: 100%;
  display: flex;
}

.social-sidebar__sort-by,
.social-sidebar__issue-filter-container {
  width: 100%;
  margin-bottom: 10px;
  padding: 0 5px;
  display: flex;
}

.social-sidebar__sort-by .Select,
.social-sidebar__tag-filter-container .Select,
.social-sidebar__issue-filter-container .Select  {
  flex: 1;
}

.social-sidebar__sort-by span,
.social-sidebar__tag-filter-container .select-label,
.social-sidebar__issue-filter-container .select-label {
  line-height: 2.5;
  margin-right: 5px;
  color: white;
  font-size: 14px;
}
