@import "../../breakpoint";

.oauth-btns {
  margin: auto;
  margin-bottom: 30px;
}

.oauth-btns a {
  margin: 0 5px;
  @include breakpoint(xs) {
    margin: auto;
  }
}

.auth-page {
  padding-top: 50px;
  background: #3f9bfc;
  min-height: 100vh;
}

.auth__form-wrapper {
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  flex-shrink: 0;
  -ms-flex-negative: 0;
  margin: 0 auto;
  width: 95%;
  @media (min-width: 48em) {
    width: 585px;
  }
}

.auth__form-contents {
  background: white;
}

.auth-page__header {
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  flex-shrink: 0;
  -ms-flex-negative: 0;
  margin: 0px 0 30px -5px;
  text-align: center;
}

.auth-page__header .logo-consensys {
  margin-bottom: 30px;
}

.auth-page__header .logo {
  margin: 0 auto;
}

.auth__form {
  padding: 60px 30px;
  @media (min-width: 48em) {
    padding: 60px 90px;
  }
}

.auth-form__form-footer {
  color: #fff;
  margin-top: 15px;
}

.auth-form__form-footer__left {
  text-align: center;
  @media (min-width: 48em) {
    float: left;
  }
}

.auth-form__form-footer__left nav a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.auth-form__form-footer__left nav a:after {
  content: "\00b7";
  margin: 0 5px;
  margin-right: -20px;
}

.auth-form__form-footer__left nav a:last-of-type:after {
  content: "";
}

.auth-form__form-footer__right {
  text-align: center;
  @media (min-width: 48em) {
    float: right;
  }
}

.message__has-account {
}

.btn__sign-in {
  color: white;
  text-decoration: none;
  margin-left: 15px;
  border: 1px solid white;
  display: inline-block;
  padding: 5px 10px;
}

.btn__sign-in:hover {
  color: white;
  text-decoration: none;
}

.auth-form__submit-btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
}

.auth-page__footer {
  clear: both;
  text-align: center;
}

.auth-page__footer {
  position: relative;
  min-height: 100px;
}

.auth-page__footer .logo-consensys {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
