.entity-cards {
  border: 1px solid #ccc;
  border-width: 1px 1px 0 1px;
}

.entity-cards.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.col-md-12.entity-card__container {
  padding-right: 0px;
  padding-left: 0px;
}

.entity-card__container {
  border-bottom: 1px solid #ccc;
}

.entity__block:hover {
  background-color: #f9f9f9;
}

.entity__block * {
  color: rgba(0, 0, 0, 0.7);
  letter-spacing: 0.08rem;
  color: #555;
}

.entity-card a:hover {
  text-decoration: none;
}

.entity__block {
  border: none;
  text-decoration: none !important;
  background-color: #fff;
  padding: 25px 30px;
  @include breakpoint(xs) {
    padding: 10px;
  }
}

.entity__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  @include breakpoint(xs) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.entity__title {
  @include breakpoint(xs) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.entity__title span {
  @include breakpoint(xs) {
    display: block;
  }
}

.entity__title .entity__ticker {
  @include breakpoint(xs) {
    margin-left: 0px;
  }
}

.entity__header div {
  width: 70%;
  @include breakpoint(xs) {
    width: 100%;
  }
}

.entity__action--bottom {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.entity__date {
  @include breakpoint(xs) {
    align-self: flex-end;
  }
}

.entity__more {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #d2d5ea;
  cursor: pointer;
  margin-top: 15px;
}

.entity__metrics-stat {
  border-radius: 3px;
  border: 1px solid #999;
  padding: 0 8px;
}

.entity__metadata {
}

.entity__metrics-stat,
.entity__metadata {
  margin-right: 10px;
  margin-bottom: 5px;
  height: 24px;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.entity__metrics-stat span,
.entity__metadata span {
  text-transform: uppercase;
  font-weight: 600;
  color: #999;
  letter-spacing: 0;
  font-size: 12px;
  @include breakpoint(xs) {
    font-size: 11px;
  }
}

.entity__block > .entity__metadata ~ .entity__metadata {
  ::after {
    content: "|";
  }
}

.entity__header {
  display: flex;
  text-transform: uppercase;
}

.entity__header p {
  margin-bottom: 0px;
}

.entity__ticker {
  font-size: 11px;
  margin-left: 15px;
  line-height: 24px;
}

.entity__description {
  font-size: 13px;
  font-weight: 400;
  margin-top: 6px;
  margin-bottom: 20px;
}
