.comment-box {
  display: flex;
  flex-direction: column;
  margin: 10px 0px 0 5px;
}

.comment-box__actions {
  margin: 0;
  background: #d4d4d4;
}

.comment-box__text-area {
  width: 100%;
  height: 80px;
  margin-bottom: -7px;
  border-radius: 5px;
  border-color: #d4d4d4;
}

.comment-box__actions {
  background: #d4d4d4;
  width: 100%;
  padding: 8px;
  display: flex;
  justify-content: flex-end;
  border-radius: 0 0 5px 5px;
}

.comment-box__actions button {
  margin-left: 3px;
}

.comment-item.page-comment .comment-box {
  margin-left: 0px;
}

.comment-item__edit .comment-box {
  margin-left: 0;
}

.comment-item.page-comment--highlight {
  border: 3px solid white;
}
