.markdown-body {
  table {
    display: table;
  }
  ul,
  ul li {
    list-style-type: disc;
  }
  ol,
  ol li {
    list-style-type: lower-alpha;
  }
  li > p {
    margin-bottom: 5px !important;
  }
  li > p {
    marign-top: 0px !important;
  }
  ul li {
    padding: 0px !important;
  }
  ol li {
    padding: 0px !important;
  }
}
