.markdown-body {
  table {
    display: table;
  }
  ul,
  ul li {
    list-style-type: disc;
  }
  ol,
  ol li {
    list-style-type: lower-alpha;
  }
  .markdown-body li > p {
    margin-bottom: 5px !important;
  }
  .markdown-body ul,
  .markdown-body ul li {
    padding-bottom: 0px !important;
  }
}
