.markdown-body {
  table {
    display: table;
  }
  ul,
  ul li {
    list-style-type: disc;
  }
  ol,
  ol li {
    list-style-type: lower-roman;
  }
  li > p {
    margin-bottom: 5px !important;
  }
  li > p {
    marign-top: 0px !important;
  }
  ul li {
    padding: 0px !important;
  }
  ol li {
    padding: 0px !important;
  }
  h5 {
    font-size: 1em;
    color: #6a737d;
    margin-top: 0;
  }
}
