.upload-accordion__item-header {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.rc-steps-vertical .rc-steps-item-title,
.rc-steps-vertical .rc-steps-item-description {
  color: white !important;
}

.rc-steps-vertical .rc-steps-item-title {
  line-height: 28px !important;
  font-size: 16px !important;
}
