.landing .navbar {
  height: initial;
}

.header-title {
  line-height: 1.25;
  letter-spacing: 2px;
  font-size: 35px;
}

#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: white;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  border-color: transparent;
  background-color: transparent;
}

#mainNav .navbar-brand {
  color: #2744cb;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  width: 110px;
  height: 110px;
  margin: 20px 0px;
  background: url("/assets/the-brooklyn-project-logo-white-transparent.png");
  background-size: contain;
}

#mainNav .navbar-brand:hover,
#mainNav .navbar-brand:focus {
  color: #1f36a0;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  padding: 8px 10px;
  color: #222222;
}

#mainNav .navbar-nav > li {
  padding: 0 1em;
}

#mainNav .navbar-nav > li > a {
  font-size: 11px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#mainNav .navbar-nav > li > a.active {
  color: #2744cb !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li > a.active:hover {
  background-color: transparent;
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: #222222;
}

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
  color: #2744cb;
}

#mainNav .navbar-brand {
  color: fade(white, 70%);
}

#mainNav .navbar-brand:hover,
#mainNav .navbar-brand:focus {
  color: white;
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: rgba(255, 255, 255, 0.7);
}

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
  color: white;
}

#mainNav.navbar-shrink {
  border-color: rgba(34, 34, 34, 0.1);
  background-color: transparent;
}

#mainNav.navbar-shrink .navbar-brand {
  color: #222222;
  width: 110px;
  height: 110px;
  background: url("/assets/the-brooklyn-project-logo.png");
  background-size: contain;
}

#mainNav.navbar-shrink .navbar-brand:hover,
#mainNav.navbar-shrink .navbar-brand:focus {
  color: #2744cb;
}

#mainNav.navbar-shrink .navbar-nav > li > a,
#mainNav.navbar-shrink .navbar-nav > li > a:focus {
  color: #222222;
}

#mainNav.navbar-shrink .navbar-nav > li > a:hover,
#mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
  color: #2744cb;
}

header.masthead {
  position: relative;
  width: 100%;
  color: white;
  background: url("/assets/tbp-bg-02.jpg"), #3c93f8;
  background: url("/assets/tbp-bg-02.jpg"),
    -webkit-linear-gradient(to left, #3c93f8, #3c93f8);
  background: url("/assets/tbp-bg-02.jpg"),
    linear-gradient(to left, #3c93f8, #3c93f8);
  background-size: contain;
}

header.masthead .color-block-3 .overlay {
  z-index: 1;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: auto;
  top: 0px;
  left: 0px;
  background: #5d9def36;
}

header.masthead .h-fill {
  height: calc(100% - 166px);
}

header.masthead .header-content {
  width: 100%;
  margin-bottom: 100px;
  margin-top: 20px;
  text-align: left;
}

header.masthead .header-content h1 {
  max-width: 750px;
  font-size: 30px;
  line-height: 1.5;
}

header.masthead .device-container {
  max-width: 325px;
  margin-right: auto;
  margin-left: auto;
}

header.masthead .device-container .screen img {
  border-radius: 3px;
}

header.masthead .text-baseline {
  position: absolute;
  top: 12px;
  width: 90%;
  height: 4px;
  background: white;
}

header.masthead .header-text {
  margin-bottom: 1.5rem;
}

header.masthead .header-text a {
  font-weight: 700;
}

header.masthead .header-text p {
  color: #fff;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 18px;
  line-height: 1.5;
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
    padding-top: 0px;
    padding-bottom: 100px;
  }
  header.masthead .header-content {
    margin-bottom: 0;
    text-align: left;
  }
  header.masthead .header-content h1 {
    font-size: 50px;
    line-height: 1.25;
    letter-spacing: 2px;
  }
  header.masthead .device-container {
    max-width: 325px;
  }
  header.masthead .header-content {
    width: 100%;
    margin-top: 120px;
  }
}

section.framework {
  padding-top: 80px;
  padding-bottom: 80px;
  color: #2744cb;
  position: relative;
}

section.framework h2 {
  color: #333333;
  font-size: 18px;
  line-height: 1.8;
  letter-spacing: 2px;
  font-weight: 700;
}

section.framework p {
  color: #333333;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 23px;
  line-height: 1.5;
}

section.framework a {
  font-weight: 800;
}

section.framework .text-baseline {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 0;
  bottom: 0;
  background: #3d3560;
  height: 4px;
  width: 50px;
}

@media (min-width: 992px) {
  section.framework {
    padding-top: 250px;
    padding-bottom: 250px;
  }
}

.principles {
  padding-top: 0px;
}

.principles h2 {
  color: #333333;
  font-size: 50px;
  line-height: 1.8;
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 30px;
}

@media (min-width: 992px) {
  .principles h2 {
    margin-bottom: 50px;
  }
}

.principles p {
  color: #333333;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 23px;
  line-height: 1.5;
}

.principles li {
  padding: 0.5em 0;
}

@media (min-width: 992px) {
  .principles {
    padding-top: 250px;
  }
}

.disclosures {
  padding-top: 50px;
}

.disclosures h2 {
  color: #333333;
  font-size: 50px;
  line-height: 1.8;
  letter-spacing: 2px;
  font-weight: 700;
}

.disclosures p {
  color: #333333;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 23px;
  line-height: 1.5;
  margin-bottom: 30px;
}

@media (min-width: 992px) {
  .disclosures p {
    margin-bottom: 50px;
  }
}

.disclosures li {
  padding: 0.5em 0;
}

@media (min-width: 992px) {
  .disclosures {
    padding-top: 250px;
    padding-bottom: 250px;
  }
}

.disclosure-slide,
.principle-slide {
  height: 500px;
}

.disclosure-slide__holder,
.principle-slide__holder {
  height: 500px;
}

.disclosure-slide__slider,
.principle-slide__slider {
  height: 500px;
  overflow-y: hidden;
}

footer {
  padding: 50px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  background-color: #2744cb;
}

footer img {
  width: 200px;
  height: auto;
}

.bg-landing {
  background: #2744cb;
  background: -webkit-linear-gradient(#2744cb, #233db6);
  background: linear-gradient(#2744cb, #233db6);
}

.btn-landing {
  border-color: #2744cb;
  background: #2744cb;
}

.btn-landing:hover,
.btn-landing:focus,
.btn-landing:active,
.btn-landing.active {
  color: white;
  border-color: #1b2f8b;
  background-color: #1b2f8b;
}

.text-landing {
  color: #2744cb;
}

.no-gutter > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.btn-outline {
  color: #2744cb;
  border: 1px solid;
  border-color: #2744cb;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: white;
  border-color: #2744cb;
  background-color: #2744cb;
}

.btn-xl {
  padding: 15px 25px;
  width: 14rem;
}

@media (max-width: 767px) {
  .btn-xl {
    padding: 15px 5px;
    width: 8rem;
    font-size: 14px;
  }
}

/* General styles */
.nav--ubax {
  position: relative;
  width: 8em;
  margin-bottom: 50px;
}

.principle-nav__item,
.disclosure-nav__item {
  border: none;
  padding: 10px;
  cursor: pointer;
}

.principle-nav__item:hover,
.principle-nav__item:focus,
.disclosure-nav__item:hover,
.disclosure-nav__item:focus {
  outline: none;
}

.nav__item {
  line-height: 1;
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  letter-spacing: 0;
  color: currentColor;
  border: 0;
  background: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.nav__item:focus {
  outline: none;
}

/*** Ubax ***/
.nav--ubax .nav__item {
  width: 1.5em;
  height: 1.5em;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .nav--ubax .nav__item {
    margin-bottom: 20px;
  }
}

.nav--ubax .nav__item::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border: 2px solid transparent;
  background: #ddddda;
}

.nav--ubax .nav__item--current::after {
  z-index: 10;
  border-color: #2744cb;
  background: #e9eae5;
  -webkit-transform: scale3d(1.5, 1.5, 1);
  transform: scale3d(1.5, 1.5, 1);
  -webkit-transition: -webkit-transform 0.3s, background-color 0.3s,
    border-color 0.3s;
  transition: transform 0.3s, background-color 0.3s, border-color 0.3s;
}

.nav--ubax .nav__item:not(.nav__item--current):focus::after,
.nav--ubax .nav__item:not(.nav__item--current):hover::after {
  background: #2744cb;
  -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
  transition: transform 0.3s, background-color 0.3s;
}

.nav--ubax .nav__item-title {
  color: #2744cb;
  font-size: 15px;
  font-weight: 700;
  line-height: 10px;
  display: block;
  padding: 0 0 0 2.5em;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0.25;
  -webkit-transform: translate3d(-20px, 0, 0);
  transform: translate3d(-20px, 0, 0);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}

@media (min-width: 768px) and (max-width: 1099px) {
  .nav--ubax .nav__item-title {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .nav--ubax .nav__item-title {
    font-size: 23px;
  }
}

.nav--ubax .nav__item:not(.nav__item--current):focus .nav__item-title,
.nav--ubax .nav__item:not(.nav__item--current):hover .nav__item-title {
  opacity: 0.25;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.nav--ubax .nav__item--current .nav__item-title {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
